@model Archides.Models.Projekti

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>

</head>
<div class="main-content">
    <div class="row">
            <div id="page-wrapper">
                <div class="graphs">
                    <div class="col-md-4">
                        <div class="activity_box activity_box2">
                            <h3>Project Information</h3>
                            <div class="scrollbar" id="style-2">
                                <div class="activity-row activity-row1">
                                    <div class="single-bottom">
                                        <ul>
                                            <li>
                                                <strong>Name:</strong>  @Html.DisplayFor(model => model.Titulli)
                                            </li>
                                            <li>
                                                <strong>Year:</strong>@Html.DisplayFor(model => model.Viti)
                                            </li>
                                            <li>
                                                <strong>Surface:</strong> @Html.DisplayFor(model => model.Madhesia)
                                            </li>
                                            <li>
                                                <strong>Statusi:</strong>@Html.DisplayFor(model => model.Statusi)
                                            </li>
                                            <li>
                                                <strong>Category:</strong> @Html.DisplayFor(model => model.Kategoria.Kategoria1)
                                            </li>
                                            <li>
                                                <strong>City:</strong> @Html.DisplayFor(model => model.Qyteti.Qyteti1)
                                            </li>
                                            <li>
                                                <strong>Uploaded time:</strong> @Html.DisplayFor(model => model.UploadTime)
                                            </li>
                                        </ul>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="panel-footer center-block">             
                                <a href="@Url.Action("Edit", new { id = Model.ProjektiID })" class="btn btn-warning btn-sm">Edit</a>
                                <a href="@Url.Action("Delete", new { id = Model.ProjektiID })" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container gallery-container">


                    <div class="tz-gallery">
                        <div class="row">
                            @foreach (var item in Model.Media)
                            {
                                Html.RenderPartial("_MediaPartial", item);
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>