@model IEnumerable<Archides.Models.Lajmi>
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-offset-2 col-md-10 blogShort">

                @foreach (var item in Model)
                {
                    if (item == Model.Last())
                    {
                        <h1>
                            @Html.DisplayFor(model => item.Titulli)
                        </h1>
                                    <img src="@Url.Content(item.FotoPath)" width="200" height="200" alt="post img" class="pull-left img-responsive postImg img-thumbnail margin10">

                                    <article>
                                        <p>

                                            <label>@String.Format("{0:dd/MM/yyyy HH:mm}", item.UploadTime)</label>
                                        </p>
                                        <p>
                                            @Html.DisplayFor(model => item.Pershkrimi)
                                        </p>
                                        <br>
                                        @*<iframe width="100%" height="480" src="//www.youtube.com/embed/Bn_d-ghQ5HA" frameborder="0" allowfullscreen></iframe>*@
                                    </article>
                    }
                }
                <br />
                <br />
                <hr2>Other News</hr2>
                <div class="row">
                    @foreach (var item in Model)
                    {

                        <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                            <img class="card-img-top" src="@Url.Content(item.FotoPath)" width="150px" height="150px" alt="Card image cap">
                            <div class="card-block">
                                <h3 class="card-title">@Html.DisplayFor(model => item.Titulli)</h3>
                                @*<p class="card-text"></p>*@
                                <a href="#" class="btn btn-primary">More Details</a>
                            </div>
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
</body>
</html>
